<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AK.Commons.Providers.DataAccess.FluentNHibernate\packages.config" />
  <repository path="..\src\AK.Commons.Providers.Web.Bundling.Microsoft\packages.config" />
  <repository path="..\src\AK.Commons.Providers.Web.Security.OpenId\packages.config" />
</repositories>